.logo {
    // padding: 24px 0;
    color: var(--primary-textcolor);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.375;
    display: inline-block;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    // opacity: 0;
    // visibility: hidden;
    pointer-events: none;
    background-color: var(--primary-bcgcolor);
    transform: translateY(-100%);
    transition: transform $animation;

    &.is-open {
        transform: translateY(0);
    }

    @media screen and (min-width: $mobile-end) {
        display: none;
    }
}


.mobile-menu__container {
// width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

@media screen and (max-width: 767px) {
    .mobile-menu__container {
        
        margin-left: auto;
        margin-right: auto;
    }
}

.mobile-menu__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 68px;
    padding-top: 24px;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 0;
    margin-top: 28px;
    margin-right: 15px;
    line-height: 0;
    background-color: transparent;

}

.close-btn {
    svg {
        stroke: var(--primary-color);
        fill: var(--primary-color);
    }
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.nav-mobile__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--accent-color);
    border-radius: 50% 50%;
    fill: none;
    stroke: #ffff;
    // &--current {
    //     // border: 1px solid var(--slider-bordercolor);
    // }
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nav-mobile__link {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(22 / 16);
    position: relative;

    &--current {
        height: 44px;
        width: 100%;
        background-color: var(--accent-color);
        box-shadow: 0 0 0 50vmax var(--accent-color);
        clip-path: inset(0 -100vmax);
        color: #ffff;

    }
}

.current-page__icon {
    // transform: rotate(270deg);
    // fill: #ffff;
    position: absolute;
    opacity: 0;
    right: +15px;

    &.active {
        opacity: 1;
    }
}


// .mobile-page__icon {
// visibility: hidden;
//     right: +15px;
//     position: absolute;
//     // display: none;
//     fill: #ffff
//     &--current {
//         visibility: visible;
//         // display: none;
//         // position: absolute;
//         // right: +15px;
//         // fill: #ffff
//     //  display: initial;
// }
// }



.theme-switch-mobile {
    display: flex;
    position: absolute;
    // z-index: 100;
    // margin-left: 16px;
    margin-top: 118x;
    opacity: 100%;
    pointer-events: all;
    border: 0;
    padding: 0;
    margin-top: 248px;
    line-height: 0;
    background-color: transparent;
}


// fill="none"

// .svg {
//     // transform: rotate(270deg);
//     position: absolute;
//     right: +15px;
//     fill: var(--slider-bordercolor);

//     &--current {
//         fill: var(--slider-bordercolor);
//     }
// }

// .nav-mobile__icon {
//     fill: none;
//     stroke: var(--primary-bcgcolor);

// }