<div class="calendar">
<button type="button" class="calendar-btn">Select a date...</button>

    <div class="wrapper">
        <div class="calendar-header">
            <p class="current-date">&#10095</p>
        <div class="icons">
          <span id="prev" class="material-symbols-rounded">&#10094;</span>
          <span id="next" class="material-symbols-rounded">&#10095;</span>
        </div>
    </div>
      <div class="calendar-grid">
        <ul class="weeks">
          <li>Mo</li>
          <li>Tu</li>
          <li>We</li>
          <li>Th</li>
          <li>Fr</li>
          <li>Sa</li>
          <li>Su</li>
        </ul>
        <ul class="days"></ul>
      </div>
</div>
</div>