<div class="calendar">
      <p class="calendar-label">Search date news</p>
    <button type="button" class="calendar-btn">
      <svg class="icon-calendar"><use href="/src/images/icons.svg#icon-calendar"></use></svg>
      <span class="calendar-btn-span">Select a date...</span>
    <svg class="icon-chevron"><use href="/src/images/icons.svg#icon-arrow-down"></use></svg>
    </button>
    <button type="button" class="today-btn"><svg class="icon-today"><use href="/src/images/icons.svg#icon-calendar-today"></use></svg></button>

    <div class="wrapper">
    <div class="modal">
        <div class="calendar-header">
          <div class="date">
            <p class="current-date"></p>
            <span class="next-year">&#10094;</span>
            <div class="years"><ul></ul></div> 
          </div>
        <div class="icons">            
          <span id="prev" class="material-symbols-rounded">&#10094;</span>
          <span id="next" class="material-symbols-rounded">&#10095;</span>
        </div>
    </div>
      <div class="calendar-grid">
        <ul class="weeks">
          <li>Mo</li>
          <li>Tu</li>
          <li>We</li>
          <li>Th</li>
          <li>Fr</li>
          <li>Sa</li>
          <li>Su</li>
        </ul>
        <ul class="days"></ul>
      </div>
</div>
</div>
</div>