<header class="section header-section">
    <div class="container header-container">
        <a href="./index.html" class="logo">News</a>
        <nav class="site-nav">
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="./index.html" class=" nav-list__link current">Home</a>
                </li>
                <li class="nav-list__item">
                    <a href="./favorite.html" class="nav-list__link">Favorite</a>
                </li>
                <li class="nav-list__item">
                    <a href="./read.html" class="nav-list__link">Read</a>
                </li>
            </ul>
        </nav>
        <form autocomplete="on" novalidate class="search-form">
            <button type="submit" class="search-form__button">
                <svg class="search-form__icon" width="15.59px" height="14.81px">
                    <use href="./images/icons.svg#icon-magnifier">
                    </use>
                </svg>
            </button>
            <input type="text" name="query" placeholder="Search" class="search-form__input">
        </form>
        <label class="theme-switch">
            <svg class="theme-switch__lighticon" width="18.67px" height="18.67px">
                <use href="./images/icons.svg#icon-sun">
                </use>
            </svg>
            <span class="theme-switch__light">Light</span>
            <input type="checkbox" class="visually-hidden theme-switch__checkbox">
            <span class="theme-switch__slider"></span>
            <svg class="theme-switch__darkicon" width="15.72px" height="15.72px">
                <use href="./images/icons.svg#icon-moon">
                </use>
            </svg>
            <span class="theme-switch__dark">Dark</span>
        </label>
        <div class="burger-menu">
            <svg class="burger-menu__icon js-open-menu" width="18px" height="18px" aria-expanded="false">
                <use href="./images/icons.svg#icon-menu">
                </use>
            </svg>
    </div>
  </div>
</header>
