<div class="pagination__container">
  <button class= "pagination__btn pagination__btn-nav"  id="prev-btn">&#10094; Prew</button>
  <div id="pagination">
    <button class= "pagination__btn pagination__btn-num"  data-index="1">1</button>
    <button class= "pagination__btn pagination__btn-num"  data-index="2">2</button>
    <button class= "pagination__btn pagination__btn-num"  data-index="3">3</button>
  </div>
  <button class= "pagination__btn pagination__btn-nav pagination__btn-nav--next"  id="next-btn">Next &#10095;</button>
</div>