<div class="pagination__container">
  <button class= "pagination__btn pagination__btn-nav prev-btn" disabled>&#10094; Prew</button>
  <div id="pagination">
    <!-- <button class="pagination__btn pagination__btn-num"  data-page="1">1</button>
    <button class="pagination__btn pagination__btn-num"  data-page="2">2</button>
    <button class="pagination__btn pagination__btn-num"  data-page="3">3</button>
    <button class="pagination__btn-points">...</button> -->
  </div>
  <button class= "pagination__btn pagination__btn-nav pagination__btn-nav--next next-btn">Next &#10095;</button>
</div>