.navigate-news {
  padding-top: 24px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 28px;
    padding-bottom: 48px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 28px;
    padding-bottom: 60px;
  }

  &__container {
    display: flex;
    position: relative;
  }
}
